body {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 2%;
    width: 40%;
    min-width: 400px;
    max-width: 40%;
    height: 50vh;
}

.button {
    display: block;
    width: 55%;
    height: 25px;
    background: black;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    line-height: 25px;
    font-family: arial;
    margin-top: 20px;
}


