@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
    font-family: 'Open Sans';
    font-weight: 400;
}

body {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #F5F5F5;
}

.parent {
    border: 1px solid #B8B8B8;
    border-radius: 2%;
    min-width: 400px;
    min-height: 200px;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 2%;
    min-width: 400px;
    height: 230px;
}

.button {
    display: block;
    width: 55%;
    height: 25px;
    background: #F5F5F5;
    border: 2px solid #06cc70;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: #06cc70;
    font-weight: bold;
    text-decoration: none;
    line-height: 25px;
    font-family: arial;
    margin-top: 20px;
}

.button:hover {
    background: #06cc70;
    color: #F5F5F5;
}

span {
    font-size: 30px;
}

.topbar {
    background-color: #06cc70;
    width: 100%;
    height: 6px;
}