body {
    padding: 0px;
    margin: 0px;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.test {
    position: absolute;
    border: 1px solid black;
    width: 400px;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 2%;
    width: 40%;
    min-width: 400px;
    max-width: 40%;
    height: 50vh;
}

.button {
    display: block;
    width: 55%;
    height: 25px;
    background: black;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    line-height: 25px;
    font-family: arial;
    margin-top: 20px;
}

.inner {
    display: flex;
    flex-direction: column;
}

.number_next {
    display: block;
    width: 25%;
    height: 15px;
    background: black;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    line-height: 15px;
    font-family: arial;
    margin-top: 20px;
}

.inner .quick_button {
    position: relative;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 3px;
    width: 40px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.promo_table, th, td {
    /* Center this table */
    border: 1px solid black;
    border-collapse: collapse;
}

.title {
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    color:green;
    
}

.regular_load_table {
    width: 100%;
}

.input_button {
    background-color:white;
    color: black;
    border: solid black 2px;
    width:100%
}

.input_text {
    background-color:white;
    border: solid black 2px;
    width: 100%
}

.input_button.active {
  background-color: pink;
  color: white;
}